body {
	font-family: Arial, Helvetica, sans-serif, Notable;
	font-size: 15px;
	line-height: 1.5rem;
	padding: 0;
	margin: 0;
}

/* GLOBAL */

.forall{
	width: 80%;
	margin:auto;
	overflow:hidden;
}

/* Header Global */

header {
	padding-top: 30px;
	min-height: 70px;
	border-bottom: yellow 3px solid;
	background-color: #383838

}

header ul{
	margin: 0;
	padding: 0;
}

header a{
	color:#60b0f4;
	text-decoration: none;
	font-size: 16px;

}

/* Header navigation bar */

header a:hover{
	color:#92b7d6;
		
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
	margin-top:30px;
}

header nav {
	float: right;
}

header nav label {
	margin: 0 40px 0 0;
	font-size: 26px;
	line-height: 70px;
	display: none;
}
header nav input {
	display: none;
}
header h1 {
	margin: 0;
}

header h2{
	font-style: italic;
	margin: 0;
	color: #60b0f4;
	margin-bottom: 20px;
}

/* Header Logo*/
.logo {
	float: left;
}

.logo h1 {
	margin: 0;
}

/* VIDEO */
#promomovie {
	padding: 30px;
	background-color: #383838;
	border-bottom: 3px solid yellow;
}
#promomovie video {
	width: 100%;
}

#promomovie p {
	color: #60b0f4; 
	padding-top: 5px;
	padding-bottom: 5px;

}
#promomovie a:hover {
	color: #92b7d6;
}

/*ARTICLE SECTION */


.articleHead {
	font-size: 35px;
}

.articleTitle {
	font-size: 30px;
	padding-top: 20px;
	line-height: 1.25em;

}

.articlepos{
	
	overflow:hidden;
	margin-top: 30px;
	margin-bottom: 30px;
	display:flex;
	margin-left: 75px;
	flex-direction: row;
	flex-wrap: wrap;

}

.article1 .text {
	border: 3px solid black;
	border-radius: 15px;
	border-spacing: 1em;
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	width: 93%;
	letter-spacing: 0.05px;
	
}

.img1 {
	display: flex;
	justify-content:flex-end;
	align-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;

}

.article2 .text {
	border: 3px solid black;
	border-radius: 15px;
	border-spacing: 1em;
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	width: 93%;
	letter-spacing: 0.05px;
}

.img2 {
	display: flex;
	justify-content:flex-end;
	align-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}

.article3 .text {
	border: 3px solid black;
	border-radius: 15px;
	border-spacing: 1em;
	padding: 10px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	width: 93%;
	letter-spacing: 0.15px;
	word-spacing: normal;
	text-indent: 1px;
}

.img3 {
	display: flex;
	justify-content:flex-end;
	align-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}

.info {
	border: 3px solid black;
	border-spacing: 1.5em;
	padding: 10px;
	background-color: yellow;
	text-transform: uppercase;

}

.info:hover {
	background-color: #FFC72C; 
}

.fig {
	margin-top:20px;
	margin-left:0px;
}



#reasons {
	
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;

}
#reasons ol {
	border: 3px solid black;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}

#reasons li {
	padding-left: 20px;
	line-height: 1.5em;

}

footer {
	padding: 10px;
	margin-top: 10px;
	text-align: center;
	background-color:#60b0f4;
	color:#ffffff;
}

#cookies {
	position: fixed;
	bottom: 0;
	right: 0;
	text-align: center;
	background-color: #FA0;
	opacity: 50%;
	color: #ffffff;
	z-index:9999;
}

/* how solar works */
	
	#main {	
		display: grid;
		grid-template-columns: 350px 350px 350px;
		grid-auto-rows:minmax(100px, auto);
		grid-gap: 50px;
		justify-content: center;

	}
	.articleHeader {
		font-size:20px;
		line-height: 1.5em;
	}

	.article1solar {
		grid-row-start:1;
		grid-row-end: 2;

	}

	.article2charge {
		grid-row-start: 1;
		grid-row-end: 3;
	}
	
	.article4dc {
		grid-column: 3/3;

	}

	.article5inverter {
		grid-row-start: 2;
		grid-row-end: 3;
		margin-bottom: 40px;
	}
	.article6acpow{
		grid-column: 1/-1;

	}


	/* Aside products */
		
	#product1 {
		display: flex;
		justify-content:space-around;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		align-content: center;
		margin-top: 200px;
	}

	/* Table page */
.articleintro {
	
	margin-left: 75px;
	margin-right:75px;
	font-size: 18px;
	line-height: 1.5;
}
.articleintro h4 {
	font-size: 30px;
}

table{
	border:0.5px solid black;
	border-collapse: separate;
	border-spacing: 0px;
	border-style: double;
	border-width: 1px;
	
}


#tablepropmain {
	
	overflow:hidden;
	margin-top: 30px;
	margin-bottom: 30px;
	display:flex;
	margin-left: 75px;
	flex-direction: row;
	flex-wrap: wrap;
}

td {
	border:1px solid black;
	border-collapse: separate;
}


.tableprop th, td {
	border: 1px solid black;
	
}

.nameOfCountry {
	color: black;
	background-color: yellow;
}

#rowtopyear td {
	background-color: black;
	color: white;
}

.rowsecond {
	color: black;
	background-color: #CCCCFF; 
}

.productsforsale {
	display:flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	margin-left: 280px;
	align-content: flex-end;
	margin-top:30px;
}

/*Contact page */

.formFieldset {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items:center;
}

#contactForm {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
}

#contactForm label {
	margin-top: 10px;
	
}

#contactForm .headTop {
	margin-top: 20px;
}

.name {
	width: 200px;
	height: 50px;
	border: 2px solid black;
}

.email {
	width: 200px;
	height: 50px;
	border: 2px solid black;
}

.message {
	width: 400px;
	height: 400px;
	border: 2px solid black;
	resize: none;
}

.send {
	margin: 10px;
	margin-top: 20px;
	width: 150px; 
	border:0;
	background-color: #60b0f4;
	color: #ffffff;
	padding: 12px 50px;
	border-radius: 20px;
	text-align: center;

}

.productsforsaleContact {
	display:flex;
	justify-content: space-between;
	margin-left:60px;
	margin-right: 60px;
	margin-top: 40px;
	align-items: center;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	
}

.productsforsaleContact img {
		width: 200px;
		height:200px;
		margin-bottom: 20px;
}


@media only screen and (max-width: 599px) {
/* Global */
	header nav {
		line-height: 70px;
		width: 70px;
		font-size:26px;
		text-align: center;
		margin-right: 140px;
		margin-left: 180px;
		float: none;
		
	}
	
	header nav label {
		display: block;
		cursor: pointer;
		color:#60b0f4;
		background-color: yellow;
		width: 100%;
		height:100%;

	}
	header nav ul {
		text-align: center;
		width: 150px;
		display: none;
		float: right;
		
	}
	header nav li {
		border-bottom: 2px solid yellow;
		width: 200px;
		
	}
	.li4 {
		border-bottom: none;
	}
	
	header nav input:checked + ul {
		display: block;
	}

	.logo {
		float: none;
	}

	.logo img {
		margin-left: 60px;

	}
	
	.logo h2 {
		display: flex;
		justify-content: center;

	}
	

/* index @media */

	#articles {
		float:none;
		margin-right: 62px;
	}

	.text {
		flex-direction: column;

	}

	.img3 {
		flex-direction: column;
		
	}

/* end of index @media */

/* how solar works @media */
	#main {
		display: grid;
		grid-template-columns: 300px;
		max-width: 100%
	}
	.article1solar {
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.article2charge {
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.article3battery {
		grid-row-start: 3;
		grid-row-end: 3;
	}
	.article4dc {
		grid-row-start: 4;
		grid-row-end: 4;
		grid-column: 1/1
	}

	.article5inverter {
		grid-row-start: 5;
		grid-row-end: 5;	
	}
	.article6acpow{
		grid-row-start: 6;
		grid-row-end: 6;
		grid-column: 1/1;
	}
	#product1 {
		flex-direction: column;
		justify-content: space-around;
	}
	.img1product1 {
		margin-bottom: 20px;
	}
	.img3product3 {
		margin-top: 40px;
	}
/* end of how solar works @media */

/* table page @media */
		#tablepropmain {
		margin-top: 30px;
		margin-bottom: 30px;
		display:flex;
		flex-direction: row;
		margin-left: 0;
		width: 100%;
		
	}
	.productsforsale {
		display:flex;
		justify-content: space-around;
		flex-direction: column;
		margin-left: 170px;
		margin-top:30px;
	}

	.articleintro {
		margin-left: 10px;
		font-size: 16px;
		margin-right: 0px;
	}
	.articleintro h4 {
		text-align: center;
	}
/* end of table page @media */

/*contact @media */

	.productsforsaleContact{
		flex-direction: column;
		align-items: center;
		align-content: center;
		margin:20px;
	}
	.productsforsaleContact img {
		width: 200px;
		height:200px;
		margin-bottom: 20px;
		margin-top:20px;
	}

}


@media (min-width: 600px) and (max-width: 1279px) {
	
/*Global*/

	header nav,
	header nav li {
		float: none;
		text-align:center;
		width: 100%;
	}
	.logo,
	.logo h1 {
		float:none;
		text-align: center;
		width: 100%;
	}
	/*End of Global*/

	/* start of index @media */

	.text {
		flex-direction: row-reverse;
	}

	.text p {
		margin-right: 10px;
	}
	.img1 {
		margin-right: 30px;
	}
	.img2 {
		margin-right: 30px;
	}
	.img3 {
		margin-right: 20px;
	}
/* end of index @media */

/* how solar works @media */

	#main {
		display: grid;
		grid-template-columns: 200px;
		grid-auto-rows:minmax(100px, auto);
		grid-gap: 50px;
		justify-content: center;
		
	}

	#main {
		display: grid;
		grid-template-columns: 250px 250px;
		max-width: 95%;
		margin-left:30px;

	}
	.article1solar {
		grid-row-start: 1;
		grid-row-end: 1;

	}
	.article2charge {
		grid-row-start: 1;
		grid-row-end: 1;
	}
	.article3battery {
		grid-row-start: 2;
		grid-row-end: 2;
	}
	.article4dc {
		grid-row-start: 2;
		grid-column: 1/1
	}

	.article5inverter {
		grid-row-start: 3;
		grid-row-end: 3;
		grid-column: 2/2;	
	}
	.article6acpow{
		grid-row-start: 4;
		grid-row-end: 4;
		grid-column: 1/3;
	}
	#product1 {
		flex-direction: row;
	}
/* end of how solar works @media */

/* how solar works @media */

/* table page @media */
	#tablepropmain {
		margin-top: 30px;
		margin-bottom: 30px;
		flex-direction: row;
		margin-left: 0;
		width: 100%;
		justify-content: center;
	}
	.productsforsale {
		
		justify-content: space-between;
		flex-direction: row;
		margin-left: 10px;
		margin-top:30px;
		justify-content: center;
		
	}

	#product1forsale{
		margin-right: 50px;
	}

	#product2forsale {
		margin-right: 50px;
		margin-left: 50px;
		
	}

	#product3forsale{
		margin-right: -30px;
	}

	.articleintro {
		margin-left: 40px;
		font-size: 16px;
		margin-right: 0px;
	}
	.articleintro h4 {
		text-align: center;
	}
/* end of table page @media */

/*contact @media */

	.productsforsaleContact{
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		align-content: center;	
	}

	.productsforsaleContact img {
		width: 200px;
		height:200px;
		margin-bottom: 20px;
	}

	#product1forsale {
		margin-left:50px;
	}

	#product2forsale {
		
	}

	#product3forsale {
		margin-right:15px;
	}

}